progress-bar {

    .progress-outer {
        width: 100%;
        padding: 1px;
        text-align: center;
        background-color: lighten(map-get($colors, dark),5%);
        color: #fff;
    }

    .progress-inner {
        min-width: 1%;
        white-space: nowrap;
        overflow: hidden;
        padding: 1px;
        background-color: map-get($colors, light);
    }

}
