<!--
  Generated template for the PochettePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>


</ion-header>


<ion-content fullscreen>
    <!-- <button (click)="dismiss()">ICI</button> -->
        <!-- <strong>{{title}}</strong> {{artist}} -->

        <ion-grid>
          <ion-row>
            <ion-col col-1>
              <button clear ion-button icon-only color="light" (click)="dismiss()">
                <ion-icon name="arrow-down"></ion-icon>
              </button>
            </ion-col>
            <ion-col col-11 color="light">
              <p text-center color="light"><span text-uppercase>Lecture à partir de playlist</span><br>Nom de la playlist par auteur</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col text-center>
              <ion-img  width="300" height="300" src="https://i.scdn.co/image/040d9df38de7966d150b8495c0dc466b7d2950d9"></ion-img>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col text-center>
              <h3 text-center>{{title}}</h3>
              <p>{{artist}}</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <progress-bar [progress]="progressBar"></progress-bar>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-3>
              <button (click)="prevTrack()" color="light" clear ion-button icon-only><ion-icon name="skip-backward"></ion-icon></button>
            </ion-col>
            <ion-col col-6 text-center>
              <button text-center *ngIf="!currentTrack.playing" (click)="playTrack(currentTrack)" color="light" clear ion-button icon-only><ion-icon name="play"></ion-icon></button>
              <button text-center *ngIf="currentTrack.playing" (click)="pauseTrack(currentTrack)" color="light" clear ion-button icon-only><ion-icon name="pause"></ion-icon></button>
            </ion-col>
            <ion-col col-3>
              <button (click)="nextTrack()" color="light" clear ion-button icon-only><ion-icon name="skip-forward"></ion-icon></button>
            </ion-col>
          </ion-row>
        </ion-grid>

</ion-content>
