<ion-header>

</ion-header>

<ion-content fullscreen>
  <ion-grid>
    <ion-row>
      <ion-col col-1>
        <button clear ion-button icon-only color="light">
          <ion-icon name="arrow-up"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-11 color="light">
        <h5 text-center color="light">Nom de la playlist</h5>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        <ion-img  width="150" height="150" src="https://i.scdn.co/image/040d9df38de7966d150b8495c0dc466b7d2950d9"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        <h2 text-center>Nom de la playlist</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        <button ion-button round outline color="spotiduck" class="abo">S'abonner</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        <span>XXX abonnés</span><span class="rond"></span><span>Par auteur</span>
      </ion-col>
    </ion-row>
  </ion-grid>
  <hr>
    <ion-list no-lines>
        <button detail-none ion-item *ngFor="let track of tracks;" (click)="track.playing ? pauseTrack(track) : playTrack(track)" [ngClass]="{ 'playing': track.playing }">
            <p><strong>{{track.title}}</strong></p>
            <p>{{track.artist}}</p>
        </button>
    </ion-list>
</ion-content>

<ion-footer>
  <progress-bar [progress]="currentTrack.progress"></progress-bar>

    <ion-grid>
        <ion-row>
          <ion-col col-1>
              <button ion-button clear color="light" (click)="gotoPochette({'title':currentTrack.title, 'artist':currentTrack.artist,'track':currentTrack})"> <ion-icon name="arrow-up"></ion-icon></button>

          </ion-col>

          <ion-col col-10 class="info-track">
            <strong>{{currentTrack.title}}</strong> {{currentTrack.artist}}
          </ion-col>

          <ion-col col-1>
              <button *ngIf="!currentTrack.playing" (click)="playTrack(currentTrack)" color="light" clear ion-button icon-only><ion-icon name="play"></ion-icon></button>
              <button *ngIf="currentTrack.playing" (click)="pauseTrack(currentTrack)" color="light" clear ion-button icon-only><ion-icon name="pause"></ion-icon></button>
          </ion-col>
        </ion-row>

    </ion-grid>

</ion-footer>
