.ios, .md {

    page-home {

        $song-card-height: 90px;

        

        ion-list {

            margin-bottom: $song-card-height + 20px;

            .playing {
              p {
                color: map-get($colors,spotiduck);
              }
            }
        }

        [ion-item] {
            p {
              color: map-get($colors, light);
            }
        }


        ion-footer {
            height: 75px;
            background-color: map-get($colors, dark);
            color: #fff;

            ion-grid, ion-row, ion-col {
                height: 100%;
            }
            .info-track {
              strong {
                display: inline-block;
                padding-right: 20px;
                position: relative;
                &::after {
                  content: '';
                  position: absolute;
                  right: 7px;
                  top: 7px;
                  width: 5px;
                  height: 5px;
                  background-color: #fff;
                  display: inline-block;
                  border-radius: 50%;
                }
              }
            }

            ion-col {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

    }
    h5 {
      color: #fff;
    }
    .abo {
      padding: 5px 20px;
      font-size: 10px;
      text-transform: uppercase;
      color: #fff !important;
    }

}
