.ios, .md {

    page-home {

        $song-card-height: 90px;

        ion-list {

            margin-bottom: $song-card-height + 20px;

            .alternate {
                background-color: map-get($colors, secondary);
            }

            .playing {

                background-color: map-get($colors, dark);

                img {
                    opacity: 0.4;
                }
            }
        }

        ion-avatar {
            position: relative;
        }

        ion-spinner {
            position: absolute;
            top: 0;
            left: 0;
            margin: 4px !important;
        }

        [ion-item] {
            background-color: map-get($colors, primary);
            padding: 20px;
        }

        ion-card {
            background-color: map-get($colors, light);
            opacity: 0.9;
            height: $song-card-height;
            bottom: 0;
        }

        ion-footer {
            height: 75px;
            background-color: map-get($colors, dark);
            color: #fff;

            ion-grid, ion-row, ion-col {
                height: 100%;
            }
            .info-track {
              strong {
                display: inline-block;
                padding-right: 20px;
                position: relative;
                &::after {
                  content: '';
                  position: absolute;
                  right: 7px;
                  top: 7px;
                  width: 5px;
                  height: 5px;
                  background-color: #fff;
                  display: inline-block;
                  border-radius: 50%;
                }
              }
            }

            ion-col {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

    }

}
