<!--
  Generated template for the PlaylistPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header padding>
    <ion-title><h1>Playlists</h1></ion-title>

</ion-header>


<ion-content padding>
    <ion-row>
    <ion-col>
        <ion-img width="130" height="130" src="https://i.scdn.co/image/040d9df38de7966d150b8495c0dc466b7d2950d9"></ion-img>
        <h6 text-center>Classic Roadtrip Songs</h6>
    </ion-col>
    <ion-col>
        <ion-img width="130" height="130" src="https://i.scdn.co/image/d22ffbeaa2c36cf5b6c167051654a382ae4bccce"></ion-img>
        <h6 text-center>Années 70</h6>
    </ion-col>
</ion-row>
    <ion-row>
        <ion-col>
            <ion-img width="130" height="130" src="https://i.scdn.co/image/ae667cef20a842c5239558acdae84d3482ac8151"></ion-img>
            <h6 text-center>Légendes du Rock</h6>
        </ion-col>
        <ion-col>
            <ion-img width="130" height="130" src="https://i.scdn.co/image/1eb1ff95e8408b35c78bf20fcd1f856ce7dfd5ac"></ion-img>
            <h6 text-center>Top of the Rock</h6>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <ion-img width="130" height="130" src="https://i.scdn.co/image/6df5ed3fcc88f5a2b5eb3db3dbc1d048b20ce68f"></ion-img>
            <h6 text-center>Indie Station</h6>
        </ion-col>
        <ion-col>
            <ion-img width="130" height="130" src="https://i.scdn.co/image/3f76b095f9dcf6b2d387a78c517a979030d08cc2"></ion-img>
            <h6 text-center>Perfect Day</h6>
        </ion-col>
    </ion-row>
</ion-content>

<ion-footer>
    <progress-bar [progress]="currentTrack.progress"></progress-bar>

    <ion-grid>
        <ion-row>
            <ion-col col-1>
                <button ion-button clear color="light" (click)="gotoPochette({'title':currentTrack.title, 'artist':currentTrack.artist,'track':currentTrack})"> <ion-icon name="arrow-up"></ion-icon></button>

            </ion-col>

            <ion-col col-10 class="info-track">
                <strong>{{currentTrack.title}}</strong> {{currentTrack.artist}}
            </ion-col>

            <ion-col col-1>
                <button *ngIf="!currentTrack.playing" (click)="playTrack(currentTrack)" color="light" clear ion-button icon-only><ion-icon name="play"></ion-icon></button>
                <button *ngIf="currentTrack.playing" (click)="pauseTrack(currentTrack)" color="light" clear ion-button icon-only><ion-icon name="pause"></ion-icon></button>
            </ion-col>
        </ion-row>

    </ion-grid>

</ion-footer>
